datas
logs/*
node_modules/
test/
*.md
README.md
docker-compose.yml
docker-compose.override.yml2
Dockerfile*
install.sh
.gitignore
.dockerignore
common.env
build.sh
LICENSE
stop_all_contailer.sh

netease/config/*.bin
netease/config/*.
JS_FIlE_TEMPLATE.webstorm10

